.footer {
    position: relative;
    @include breakpoint (xs) {
       margin-top: -30px;   
    }
}

.up-footer {
    display: flex;
    padding-bottom: 45px;
    align-items: center;
    flex-wrap: wrap;

    @include breakpoint (md) {
        padding-bottom: 0;
    }
}

.footer-logo {
    width: 35%;

    @include breakpoint (md) {
        width: 50%;
    }
    @include breakpoint (xs) {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;   
    }
}

.footer-menu {
    width: 45%;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.03em;

    ul {
        @include breakpoint (xs) {
            max-width: 100%;
        }

        columns: 2;
        width: 100%;
        max-width: 350px;

        a {
            color: $gray;

            &:hover {
                color: $blue;
            }
        }

        li {
            padding: 5px 0;
        }

    }

    @include breakpoint (md) {
        width: 50%;
    }
     @include breakpoint (xs) {
        width: 100%;
        padding: 0;
        text-align: center;   
    }
}

.down-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.035em;
    border-top: 1px solid $gray-light;
    padding: 14px 0;

    @include breakpoint (sm) {
        display: block;
        align-items: center;
        text-align: center;
    }
    span {
        display: inline-block;
    }
    p {
        margin-bottom: 0;
    }
}

.list-bottom {
    display: flex;
    font-weight: 300;

    li {
        position: relative;
        padding: 5px 10px;

        &:before {
            content: '';
            position: absolute;
            width: 1px;
            height: 15px;
            background: $gray;
            right: 0;
            top: 33%;
        }

        a {
            color: $gray;

            &:hover {
                color: $blue;
            }
        }

        @include breakpoint (lg) {
            padding: 5px 10px 5px 5px;
        }

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            &:before {
                display: none;
            }
        }
    }

    @include breakpoint (sm) {
        justify-content: center;
    }

}

.social {
    width: 20%;
    max-width: 250px;
    align-self: flex-start;
    margin-top: 10px;

    @include breakpoint (md) {
        margin: 0 auto;
        width: 100%;
        padding: 20px 0;
    }
}

.social-icons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: $blue;
}

.animation-down {
    width: 100%;
    overflow: hidden;
    margin-top: -15px;
    @include breakpoint (md) {
        margin-top: -35px;
    }
    
}