.header {
    background: linear-gradient(to right, #0c2a94 0%, #28a8fb 100%);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
    .container {
        max-width: 1550px;
    }

    @include breakpoint (lg) {
        .container {
            padding: 0;
        }
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.is-menu-open {
    position: fixed;
    overflow: hidden;
}

.logo {
    padding-top: 25px;

    @include breakpoint (lg) {
        padding: 20px;
        max-width: 50%;
        z-index: 2;
    }
}

.navigation {
    display: flex;
    align-items: center;

    ul {
        display: flex;
        padding-right: 15px;

        li {

            color: $white;
            font-size: 14px;
            font-weight: 700;

            a {
                color: $white;
                font-size: 14px;
                font-weight: 700;
                line-height: 32px;
                text-transform: uppercase;
                letter-spacing: 0.03em;
                padding: 15px 20px;

                &:hover {
                    border-bottom: 3px solid $white;
                }
            }
        }
    }

    .btn {
        padding: 10px 25px;
        text-align: center;
    }

    @include breakpoint (lg) {
        opacity: 0;
        visibility: hidden;
        background: #0c2a94;;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100vh;
        top: 0;
        padding: 120px 20px 20px;
        text-align: center;
        transition: all 0.2s;
        -webkit-transition: all 0.2s linear;

        ul {
            display: block;
            padding: 0 0 25px;


            li {
                padding-right: 0;

                a {
                    &:hover {
                        border: 0;
                    }
                }
            }
        }
    }

    .fa-lock {
        padding-right: 10px;
    }
}
.navigation-opacity {
    display: block;
    opacity: 1;
    visibility: visible;
}

.menu-icon {
    display: none;
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
    z-index: 2;
    right: 10px;

    @include breakpoint (lg) {
        display: block;
    }

    span {
        content: '';
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: $white;
        top: 30px;
        left: 15px;
        transition: 0.5s;

        &:after {
            content: '';
            position: absolute;
            width: 30px;
            height: 2px;
            background-color: $white;
            top: 10px;
            transition: 0.5s;
        }

        &:before {
            content: '';
            position: absolute;
            width: 30px;
            height: 2px;
            background-color: $white;
            top: -10px;
            transition: 0.5s;
        }
    }
}

.menu-icon-active {
    span {
        width: 0;

        &:after {
            transform: rotate(45deg);
            top: 0;
        }

        &:before {
            transform: rotate(-45deg);
            top: 0;
        }
    }
}