body {
    background: $base-background;
    color: $base-color;
    font-size: $base-font-size;
    font-family: $base-font-family;
    line-height: $base-line-height;
    font-weight: $base-font-weight;
    @include breakpoint (xs) {
        font-size: 16px;
    }
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
    
p {
    margin-bottom: 25px;

    &:last-child {
        margin: 0;
    }
}

a {
    color: $link-color;
    text-decoration: none;

    &:hover {
        color: darken($link-color, 10%);
        text-decoration: none;
    }
}

p a {
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

b,
strong {
    font-weight: 700;
}

i,
em {
    font-style: italic;
}

img {
    max-width: 100%;
    max-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $heading-color;
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
    line-height: $heading-line-height;
    margin: 0 0 40px;
    position: relative;

    a {
        color: $blue;

        &:hover {
            color: $link-color;
            text-decoration: none;
        }
    }
}

h1 {
    font-size: 65px;

    @include breakpoint(lg) {
        font-size: 45px;
    }

    @include breakpoint(md) {
        font-size: 30px;
    }
}

h2 {
    font-size: 56px;

    @include breakpoint (xl) {
        font-size: 46px;
    }

    @include breakpoint (lg) {
        font-size: 36px;
    }

    @include breakpoint(xs) {
        font-size: 26px;
    }
}

h3 {
    font-size: 18px;
    color: $blue;
}

h4 {
    font-size: 25px;

    @include breakpoint(md) {
        font-size: 22px;
    }
}


.wrapper {
    max-width: $max-width-wrapper;
    margin: 0 auto;
    background: $white;
    overflow: hidden;
}

.container {
    width: 100%;
    min-width: $min-width;
    max-width: $max-width;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
}

.section {
    clear: both;
    padding: 60px 0;

    @include breakpoint(lg) {
        padding: 40px 0;
    }
}

.btn {
    display: inline-block;
    background: $orange;
    min-width: 140px;
    color: $white;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px 25px;
    letter-spacing: 0.031em;
    border: 0;
    border-radius: 3px;

    @include breakpoint (lg) {
        text-align: center;
        justify-content: center;
    }

    &:hover {
        color: $white;
        opacity: 0.7;
    }

}