.banner {
    background: linear-gradient(to right, #0c2a94 0%, #28a8fb 100%);
    margin-top: -1px;
}

.personal {
    display: flex;
    padding-top: 130px;

    @include breakpoint (lg) {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        padding-top: 0;
        padding-bottom: 50px;
    }
}

.personal-trade {
    color: $white;
    max-width: 53%;
    padding-right: 50px;

    h1 {
        color: $white;

        @include breakpoint (lg) {
            line-height: normal;
            text-align: center;
        }
    }

    @include breakpoint (lg) {
        max-width: 100%;
        padding-right: 0;
    }
}


.speedy {
    font-size: 22px;
    font-weight: 300;
    padding-left: 40px;
    text-align: left;
    position: relative;
    line-height: 145%;
    color: $bluetext;

    &:before {
        content: '';
        position: absolute;
        width: 1px;
        height: 100%;
        left: 0;
        background: $lightblue;
    }

    @include breakpoint (xs) {
        padding-left: 30px;
        font-size: 18px;
    }
}

.mail-form {
    padding-top: 60px;
    border-radius: 3px;

    span {
        display: block;
        font-size: 19px;
        font-weight: 700;
        padding-bottom: 10px;
    }
}

input[type="email"] {
    padding-top: 21px;
    padding: 15px 160px 15px 70px;
    color: $gray-text;
    width: 100%;
    border-radius: 5px;
    font-size: 21px;
    font-weight: 300;
    font-style: italic;
    line-height: 150%;
    border: 0;
    height: 62px;

    &::placeholder {
        color: $gray-text;
        opacity: 1;
    }

    &::-webkit-input-placeholder {
        color: $gray-text;
        opacity: 1;
    }

    &::-ms-input-placeholder {
        color: $gray-text;
        opacity: 1;
    }

    @include breakpoint (lg) {
        font-size: 18px;
        padding-right: 115px;
    }
    @include breakpoint (xs) {
        padding-right: 50px;
        height: 50px;
    }
}

.subscribe-mail {
    position: relative;
    box-shadow: 22px 22px 49px 0 #0D2F98;

    .btn {
        position: absolute;
        right: 8px;
        top: 13%;
        padding: 13px 20px;
        border-radius: 5px;

        @include breakpoint (xs) {
            position: relative;
            width: 100%;
            right: 0;
            margin-top: 10px;
        }
    }

    @include breakpoint (xs) {
        box-shadow: none;
    }
}

.mail-icon {
    position: absolute;
    color: $orange;
    left: 0;
    top: 27%;
    padding-left: 25px;
    font-size: 27px;

    @include breakpoint (lg) {
        top: 25%;
    }

    @include breakpoint (xs) {
        top: 11%;
    }
}



.personal-trade-pic {
    width: 47%;

    @include breakpoint(lg) {
        width: 100%;
        padding: 20px 50px;
    }
}

.trade-pic {
    margin-right: -45%;

    @include breakpoint (xxl) {
        margin-right: -15%;
    }

    @include breakpoint (xl) {
        margin-right: 0;
    }

    @include breakpoint (lg) {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }
}

///////////////////////////////////ANITAMION//////////////////////////////////////
.animation {
    margin-top: -1px;
    position: relative;

    @include breakpoint (lg) {
        margin-top: -35px;
    }

    @include breakpoint (md) {
        margin-top: -55px;
    }
}

.animate-white-wave {
    position: absolute;
    width: 120%;
    height: 162px;
    background-image: url(../images/content/wave-2.png);
    background-size: cover;
    -webkit-animation: wave 7s alternate linear infinite;
    animation: wave 7s alternate linear infinite;
    bottom: -3px;
}

.animate-white-wave-op {
    width: 120%;
    height: 249px;
    background-image: url(../images/content/wave-1.png);
    background-size: cover;
    -webkit-animation: wave-two alternate-reverse 7s linear infinite;
    animation: wave-two 7s alternate-reverse linear infinite;

}

@-webkit-keyframes wave-two {
    0% {
        margin-left: -15%;
    }

    25% {
        margin-left: -12%;
    }

    50% {
        margin-left: -9%;
    }

    75% {
        margin-left: -5%;
    }

    100% {
        margin-left: -1%;
    }
}

@-webkit-keyframes wave {
    0% {
        margin-left: -15%;
    }

    25% {
        margin-left: -12%;
    }

    50% {
        margin-left: -9%;
    }

    75% {
        margin-left: -5%;
    }

    100% {
        margin-left: -1%;
    }
}

/////////////////////////////////////SECTION INFO//////////////////////////////
.main-info {
    padding-bottom: 40px;
    padding-top: 30px;

    @include breakpoint (lg) {
        padding-bottom: 20px;
    }

    @include breakpoint (xs) {
        padding-top: 0;
    }
}

.main-info-items {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: -11%;

    @include breakpoint (xxl) {
        margin-top: -5%;
    }

    @include breakpoint (lg) {
        display: block;
        margin-top: 0;

        &:first-child {
            padding-bottom: 50px;
            display: flex;
            flex-direction: column-reverse;

            @include breakpoint (sm) {
                padding-bottom: 0;
            }
        }

        &:last-child {
            display: flex;
            flex-direction: column;
        }

    }

    @include breakpoint (sm) {
        &:last-child {
            margin-top: 20%;
        }
    }

}

.main-text {
    width: 50%;

    &.left {
        padding-right: 30px;

        @include breakpoint (lg) {
            padding-right: 0;
        }
    }

    &.right {
        padding-left: 30px;

        @include breakpoint (lg) {
            padding-left: 0;
        }
    }

    h3 {
        font-weight: 700;
        text-transform: uppercase;
    }

    p {
        color: $black;
        font-size: 27px;
        line-height: 120%;

        @include breakpoint (xs) {
            font-size: 20px;
        }
    }

    h4 {
        color: $blue;
        font-weight: 300;
        margin-bottom: 20px;
    }

    @include breakpoint (lg) {
        display: block;
        padding-bottom: 20px;
        width: 100%;
        padding: 0;
        margin-top: -10%;
    }

    @include breakpoint (md) {
        margin-top: 40px;
    }
}


.main-pic-right {
    width: 50%;

    &-item {
        background: url("../images/content/laptop.png") no-repeat center center;
        background-size: 100% 100%;
        position: relative;
        padding: 15.69% 28.8% 36.69% 29%;
        margin: 10% -40% 0 -13%;
        align-items: center;

        @include breakpoint (lg) {
            margin: -20% -20% 0% -20%;
        }

        @include breakpoint (sm) {
            background: none;
            margin: -20% -28% -40%;
        }
    }

    @include breakpoint (lg) {
        display: block;
        width: 100%;
    }

}

.pic-left {

    @include breakpoint (xxl) {
        margin-left: 20%;
    }

    @include breakpoint (lg) {
        width: 70%;
        margin: 0 auto;
    }

    @include breakpoint (md) {
        margin-bottom: -15%;
    }

    @include breakpoint (sm) {
        width: 100%;
    }
}

.pic-right {

    @include breakpoint (xxl) {
        margin-right: 20%;
    }

    @include breakpoint (lg) {
        width: 70%;
        margin: 0 auto;
    }

    @include breakpoint (md) {
        margin-bottom: -15%;
    }

    @include breakpoint (sm) {
        width: 100%
    }
}

.main-pic-left {
    width: 50%;

    &-item {
        background: url("../images/content/laptop.png") no-repeat center center;
        background-size: 100% 100%;
        position: relative;
        padding: 15.69% 28.8% 36.69% 29%;
        margin: 10% -13% 0 -40%;
        align-items: center;

        @include breakpoint (lg) {
            margin: -10% -20% 0% -20%;
        }

        @include breakpoint (sm) {
            background: none;
            margin: -20% -28% -40%;
        }
    }

    @include breakpoint (lg) {
        display: block;
        width: 100%;
    }
}


.list {
    padding: 0 0px 48px;
    column-count: 2;
    width: 100%;

    ul {
        @include breakpoint (sm) {
            padding-right: 10px;
        }
    }

    li {
        padding-left: 30px;
        padding-bottom: 15px;
        position: relative;
        break-inside: avoid;

        .fa-check {
            color: $blue;
            position: absolute;
            left: 0;
        }
    }
    @include breakpoint (xs) {
        padding-bottom: 20px;
    }
}

.button-info {
    .btn-blue {
        background: linear-gradient(to right, #0c2a94 0%, #28a8fb 100%);
        margin-right: 10px;
        min-width: 195px;

        @include breakpoint (xs) {
            margin-right: 0;
        }
    }

    a {
        position: relative;

        .fa-arrow-right {
            position: absolute;
            right: 30px;
            top: 37%;
        }

        @include breakpoint (xs) {
            display: block;
            margin-bottom: 10px;
        }
    }
}

.added-plus {
    display: flex;
    position: absolute;
    width: 45px;
    height: 45px;
    background: $white;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 6px 6px 18px 0 rgba(13, 47, 151, 0.26);
    justify-content: center;
    align-items: center;
    color: $blue;

    &:hover {
        box-shadow: 6px 6px 18px 0 rgba(13, 47, 151, 0.7);
    }

    @include breakpoint (xs) {
        width: 30px;
        height: 30px;
    }
}



.plus-item {
    display: none;
    position: absolute;
    background: $white;
    box-shadow: 6px 6px 18px 0 rgba(13, 47, 151, 0.26);
    width: 240px;
    padding: 20px 20px 20px 50px;
    font-size: 12px;
    border-radius: 2px;
    z-index: 1;
    top: -22px;
    left: -3px;

    @include breakpoint (xs) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: -4%;
    }

    h4 {
        color: $gray;
        margin: 0 0 10px;
        font-size: 12px;
    }

    p {
        color: $gray;
        line-height: 125%;
    }

    .minus {
        position: absolute;
        top: 25%;
        left: 1%;
        color: $blue;
        cursor: pointer;
        font-size: 15px;
        font-weight: 400;
        width: 45px;
        height: 45px;
        justify-content: center;
        display: flex;
        align-items: center;
    }

}

.plus {
    position: absolute;


    @include breakpoint (xs) {
        position: static;
    }
}


.plus-item-active {
    display: inline-block;
}


////////////////////////////////////ABOUT US/////////////////////////////////////////
.about-us {
    width: 100%;
    padding-top: 25px;

    .main-text {
        @include breakpoint (lg) {
            margin-top: 0;
            padding-bottom: 40px;
        }
    }

    @include breakpoint (lg) {
        padding-top: 0;
    }
}

.team {
    display: flex;
    background: $white;

    @include breakpoint (lg) {
        display: block;
    }
}

.about-team {
    width: 50%;

    @include breakpoint (lg) {
        width: 100%;
    }

}

.team-desc {
    font-size: 17px;

    @include breakpoint (lg) {
        padding-bottom: 20px;
    }
}

.photo-team {
    width: calc(50% - 30px);
    background: $white;
    box-shadow: 0 40px 104px 15px rgba(219, 227, 231, 0.99);
    border-radius: 5px;
    margin-left: 30px;
    padding: 30px 40px 10px;

    @include breakpoint (lg) {
        width: 100%;
        margin-left: 0;
    }
}

.title-team {
    font-size: 19px;
    font-weight: 700;

    h3 {
        color: $black;
        margin-bottom: 23px;

        @include breakpoint (lg) {
            padding-left: 10px;
        }

        @include breakpoint (md) {
            text-align: center;
        }
    }

}

.all-people {
    display: flex;
    margin: 0 -6px;
    flex-wrap: wrap;
    justify-content: center;
}

.person {
    width: 20%;
    padding: 0 6px 20px;
    text-align: center;

    .person-desc {
        font-size: 12px;
        display: block;
        line-height: 116%;

        @include breakpoint (lg) {
            br {
                display: none;
            }
        }

    }

    @include breakpoint (md) {
        width: 33.33%;
    }

    @include breakpoint (sm) {
        width: 50%;
    }
}

.person-name {
    display: block;
    font-size: 15px;
    font-weight: 600;
    color: $black;
}

.more-info {
    display: flex;
    justify-content: space-between;
    padding: 100px 0 90px;
    position: relative;
    margin: 0 -10px;

    @include breakpoint (xs) {
        display: block;
        padding: 10px 0 40px;
    }
}

.info-item {
    width: 33.33%;
    padding: 0 10px 30px;
    position: relative;

    h3 {
        color: $black;
        margin-bottom: 20px;

        &:before {
            content: '';
            position: absolute;
            width: 90px;
            height: 2px;
            background: $blue;
            left: 0;
            top: -30px;
        }
    }

    p {
        margin-bottom: 0;
    }

    &-text {
        font-size: 15px;
        line-height: 120%;
    }

    .learn-more {
        display: flex;
        font-family: $second-font-family;
        font-size: 14px;
        font-weight: 700;
        align-items: center;
        position: absolute;
        bottom: 0;

        .fa-arrow-right {
            padding-left: 8px;
        }

        @include breakpoint (lg) {
            display: block;
        }
    }

    @include breakpoint (lg) {
        display: block;
        width: 100%;
    }

    @include breakpoint (xs) {
        margin-bottom: 30px;
        margin-top: 60px;
    }
}

//////////////////////////DOWN SECTION////////////////////////////////
.creat-acc {
    position: relative;
    background: url("../images/content/img_acc.png") center/cover no-repeat, linear-gradient(to right, #0c2a94 0%, #28a8fb 100%);
    text-align: center;

    .btn {
        font-size: 18px;
        min-width: 270px;
        padding: 20px 25px;
        cursor: pointer;
    }
}

.acc-info {
    padding-top: 130px;
    display: inline-block;
    position: relative;
    z-index: 1;

    h2 {
        color: $white;
        font-weight: 300;
    }

    p {
        max-width: 900px;
        color: $white;
    }

    @include breakpoint (md) {
        padding-top: 70px;
    }
}