$max-width-wrapper: 1700px;
$min-width: 320px; 
$max-width: 1200px;

$black: #000;
$white: #fff;
$blue: #0273d4;;
$orange: #ecb839;
$lightblue: #5cbafa;
$gray-light: #ddeaf2;
$gray: #596f7a;
$bluetext: #61c1ff;
$gray-text: #8b9599;

$link-color: $blue;

$base-background: $gray-light;
$base-color: $gray;
$base-font-family:'Open Sans', sans-serif;
$second-font-family: 'Ubuntu', sans-serif;;
$base-font-size: 18px;
$base-line-height: 122%;
$base-font-weight: 300;

$heading-color: $black;
$heading-font-family:'Open Sans', sans-serif;
$heading-line-height: 120%;
$heading-font-weight: 700;
